<h1>Hi! I'm Molly.</h1>
<img src="/400xTest.jpg" alt="image">
<p>Currently I am a senior on the Electrical Engineering computer track,
    with plans for U2G/PhD, minors in mathematics and computer science.

    In my freetime, I like to play Magic:The Gathering and board games,
    knit, watch gaming or educational videos on YouTube, walk, and 
    learn other languages (Spanish mostly, some Italian or Japanese).
</p>
<form>
    <div class = "mb-3">
        <label class="form-label fw-bold">To contact me, please fill in the form below!</label>
        <input type="text" class="form-control" id="mollyMessage">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<router-outlet></router-outlet>