<!-- Denote is the most modern html, and in english -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Make compatibile for phone display -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="input-container">
                    <input type="text" formControlName="username" placeholder="username"/>
                    <input type="password" formControlName="password" placeholder="password"/>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="form-container">
            <form [formGroup]="creationForm" (ngSubmit)="toCreate()">
                <div class="input-container">
                    <button type="submit">Create New User</button>
                </div>
            </form>
        </div>
    </body>
</html>
<router-outlet></router-outlet>